127.0.0.1       localhost
192.168.1.120  srvstack-01.local  srvstack-01
192.168.1.121  srvstack-02.local  srvstack-02
# The following lines are desirable for IPv6 capable hosts
::1     localhost ip6-localhost ip6-loopback
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
